@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.main_nav
{
    display: grid;
    grid-template-columns: 40vw 20vw 38vw;
    position: inherit;
    background-color: #2c313a;
    z-index: 1;
    border-bottom: 1px solid white;
    
}
.icon
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    align-items: center;
    margin: 0px 10px;
    font-weight: 700;
}
.icon a
{
    margin: 7px 10px;
    text-decoration: none;
    font-size: 18px; 
    color: white;
}
.icon a:hover
{
    border-bottom: solid;
}
.htl_name
{
    text-align: center;
}
.htl_name p
{
    font-size: 12px;
    color: white;
} 
.head
{
    margin: 0px;
}
.head h2
{
    color: white;
    font-size: 30px;
    font-family: 'Arvo', serif;
}
.head p
{
    font-size: 15px;
}
.right_nav
{
    display: grid;
    grid-template-columns: 10vw 10vw;
    justify-content: end;
    align-items: center;
}
.social_icon
{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.social_icon a
{
    text-decoration: none;
    margin: 0px 15px;
}
.nav_btn
{
    justify-content: center;
    text-align: center;
}
.book
{
    padding: 8px 8px;
    background-color: #16bbe8;
    color: white;
    text-decoration: none;
    color: white;
}
.book:hover
{
    background-color: #6c724b;
}
.fb
{
    color: blue;
}
.fb:hover
{
    transform: rotateY(3.142rad);
}
.tw
{
    color: rgb(73, 73, 240);
}
.tw:hover
{
    transform: rotateY(3.142rad);
}
.in
{
    color: rgb(248, 35, 184);
}
.in:hover
{
    transform: rotateY(3.142rad);
}

@media (min-width:400px) and (max-width:550px)
{
    .icon
    {
        justify-content: center;
    }
    .right_nav
    {
        display: none;
    }
    .head
    {
        margin: 0px;
    }
    .head h2
    {
        font-size: 25px;
    }
    .head p
    {
        font-size: 8px;
    }
    .main_nav
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .blog{
        display: none;
    }
    .page
    {
        display: none;
    }
    .contact
    {
        display: none;
    }
}

@media (max-width:400px)
{
    .icon
    {
        justify-content: center;
    }
    .right_nav
    {
        display: none;
    }
    .head
    {
        margin: 0px;
    }
    .head h2
    {
        font-size: 25px;
    }
    .head p
    {
        font-size: 8px;
    }
    .main_nav
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .blog{
        display: none;
    }
    .page
    {
        display: none;
    }
    .contact
    {
        display: none;
    }
}

@media (min-width:550px) and (max-width:900px)
{
    .icon
    {
        justify-content: center;
    }
    .right_nav
    {
        display: flex;
    }
    .head
    {
        margin: 0px;
    }
    .head h2
    {
        font-size: 25px;
    }
    .head p
    {
        font-size: 8px;
    }
    .blog{
        display: none;
    }
    .page
    {
        display: none;
    }
    .contact
    {
        display: none;
    }
    .social_icon
    {
        display: none;
    }
}

@media (min-width:900px) and (max-width:1100px)
{
    .icon
    {
        justify-content: center;
    }
    .right_nav
    {
        display: flex;
    }
    .head
    {
        margin: 0px;
    }
    .head h2
    {
        font-size: 25px;
    }
    .head p
    {
        font-size: 11px;
    }
    
    .contact
    {
        display: none;
    }
    .social_icon
    {
        margin: 0px 20px;
    }
}